          <li class="span4" id="{{id}}">
            <div class="item thumbnail" data-id="{{promo_game_id}}">
              <table>
                <tr>
                  <td style="vertical-align:top">
                    <img src="./uploads/original/{{logo}}" style="width:96px" alt="">
                  </td>
                  <td class="span3" style="padding-left:5px;">
                    <h6 rel="tooltip" title="{{name}}">
                      {{#if price}}
                        <span class="pull-right badge badge-warning">
                          {{#if promo_price_or_null}}
                            <span class="price"><del>{{price}}</del></span>
                            <strong class="promo-price">{{promo_price_or_null}}</strong>
                          {{else}}
                            <span class="price">{{price}}</span>
                            <strong class="promo-price"></strong>
                          {{/if}}
                        </span>
                      {{else}}
                        {{#if promo_price_or_null}}
                          <span class="pull-right badge badge-warning">
                            <span class="price"></span>
                            <strong class="promo-price">{{promo_price_or_null}}</strong>
                          </span>
                        {{else}}
                          <span class="pull-right badge badge-warning hide">
                            <span class="price"></span>
                            <strong class="promo-price"></strong>
                          </span>
                        {{/if}}
                      {{/if}}
                      {{name}} 
                      <br>
                      <em>{{platform_name}}</em>
                    </h6> 
                    <p class="description">{{description}}</p>
                    <div class="type-drop" data-crosspromo-id="{{id}}">
                      <h6 class="text-center" style="margin-top:5px;" data-type-id="{{type_id}}">
                        {{#if type_name}}
                          <span class="crosspromo-type">{{type_name}}</span>
                          <br>
                        {{else}}
                          <span class="crosspromo-type"></span>
                          <br>
                        {{/if}}
                        <em  class="placeholder-text">Drag type here</em>
                      </h6>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="caption right">
                      <hr style="margin:4px 0 6px;">
                      <!-- <label class="checkbox "><input class="switch-value" type="checkbox" name="is_new" value="1" {{#if is_new}} checked="checked" {{/if}} data-crosspromo-id="{{gp_id}}"> is new</label>
                      <label class="checkbox "><input class="switch-value" type="checkbox" name="is_update" value="1" {{#if is_update}} checked="checked" {{/if}} data-crosspromo-id="{{gp_id}}"> is update</label>
                       -->
                      <div class="btn-group"> 
                        <a href="#" class="btn edit-description" data-crosspromo-id="{{id}}"><i class="icon-edit"></i></a>
                        <a href="javascript:void(0)" class="btn layout-remove" rel="tooltip" title="Delete"><i class="icon-trash"></i></a>
                      </div>
                    </div>                 
                  </td>
                </tr>
              </table>
            </div>                  
          </li>