          <li class="span4" id="{{id}}">
            <div class="item thumbnail" data-id="{{promo_game_id}}">
              <table>
                <tr>
                  <td>
                    <img src="./uploads/original/{{logo}}" style="width:96px" alt="">
                  </td>
                  <td class="span3">
                    <h6 class="" rel="tooltip" title="{{name}}">
                      {{name}}
                      <br>
                      <em>{{platform_name}}</em>
                    </h6> 
                    <div class="caption right">
                      <hr style="margin:4px 0 6px;">
                      <div class="btn-group">
                        <a href="javascript:void(0)" class="btn layout-remove" rel="tooltip" title="Delete"><i class="icon-trash"></i></a>
                      </div>
                    </div>                 
                  </td>
                </tr>
              </table>
            </div>                  
          </li>