  <div class="span4 well crosspromo-type" data-list-id="{{list.id}}" id="{{list.id}}">
    <legend class="text-center">
      {{#if list.image}}
        <img src="./uploads/original/{{list.image}}" alt="" style="height:32px">
      {{/if}}
      <span>{{list.name}}</span>
      
      <div class="pull-right btn-group" style="margin-right:5px;">
        <a href="" class="btn {{is_active list.is_active}}" rel="tooltip" title="Activate/Inactivate">
          <input class="switch-value" type="checkbox" name="is_active" value="1" style="margin:-3px 0 0 0" data-crosspromo-id="{{list.id}}" {{is_checked list.is_active}}>
        </a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-cog"></i>
        </a>
        <ul class="dropdown-menu text-left">
          <li><a href="#" class=" editable_ edit-list-modal" data-parent=".crosspromo-type" data-target="legend span" data-list-id="{{list.id}}" rel="_tooltip" title="Edit list"><i class="icon-edit"></i> Edit</a></li>
          <li class="divider"></li>
          <li><a href="#" class="toggle" data-parent=".crosspromo-type" data-target=".thumbnails" _rel="tooltip" title="Toggle list"><i class="icon-resize-vertical"></i> Toggle</a></li>
          <li><a href="#" class=" editable_ copy-list-modal" data-parent=".crosspromo-type" data-target="legend span" data-list-id="{{list.id}}" rel="_tooltip" title="Copy list"><i class="icon-hdd"></i> Copy</a></li>
          <li class="divider"></li>
          <li><a href="#" class=" delete-list-item" data-id="{{list.id}}" rel="_tooltip" title="Delete list"><i class="icon-trash"></i> Delete</a></li>
        </ul>
      </div>
    </legend>
    <ul class="thumbnails crosspromo-list-items">
      {{#games}}
        {{#if this}}
          {{>crosspromo_list_item}}
        {{/if}}
      {{/games}}
      <li class="span4 placeholder">
        <br><br>
        <h6 class="text-center placeholder-text">Drag game here</h6>
      </li>
    </ul>
  </div>