  <div class="span4 well crosspromo-type" data-type-id="{{type.id}}">
    <legend class="text-center">
      <span>{{type.name}}</span>
      <div class="pull-right btn-group">
        <a href="#" class="btn toggle" data-parent=".crosspromo-type" data-target=".thumbnails"><i class="icon-resize-vertical"></i></a>
        <a href="#" class="btn editable" data-parent=".crosspromo-type" data-target="legend span"><i class="icon-edit"></i></a>
        <a href="#" class="btn"><i class="icon-trash"></i></a>
      </div>
    </legend>
    <ul class="thumbnails">
      {{#games}}
        {{#if this}}
          {{>crosspromo_list_item}}
        {{/if}}
      {{/games}}
      <li class="span4 placeholder">
      </li>
    </ul>
  </div>