@tabsBackground:#114353;
@tabsBackgroundGradienEnd: #0099cc;
@tabsBorderBottom:#09232b;
@tabsBoxShadow:#8f8f8f;
@tabsPassive:#aeaeae;
@tabsPassive:#D2CCC6;
@tabsActive:#f1f1f1;

@itemGradienStartBlue:#276d84;
@itemGradientEndBlue:#3697b3;
//@itemGradienStart:#E8E8E8;
//@itemGradientEnd:#F5F5F5;
@itemBorderBottom:#1b4b5a;
@itemBordertTop:#b4cad1;
@itemBoxShadow:#5c5c5c;
@itemColor:#fff;


.font-border(@color) {
  text-shadow: -1px 0 @color, 0 1px @color, 1px 0 @color, 0 -1px @color;
}

.text-center { text-align:center;}
.uppercase {text-transform:uppercase;}

.orange {
  color:#E68C0C!important;
}

.red {
  color:#9C3D3B!important;
}

.blue {
  color:@itemGradienStartBlue!important;
}

.silver {
  color:#e5e5e5!important;
  //text-shadow:2px 2px 1px darken(#e5e5e5, 80%);
  .font-border(#111);
  letter-spacing:-1px;
}


.badge-warning {
  #gradient > .radial(@orange, darken(@orange, 5%));
  text-shadow:2px -2px 1px darken(@orange, 20%);
  .box-shadow(1px -1px 2px 1px darken(@orange, 20%));
  &:after {
    /*
    content: '';
  	height: 0;
  	position: absolute;
  	width: 0;
  	border: 15px solid transparent;
  	border-left-color:  darken(@orange, 20%); 
  	*/
  }
}

.badge-important {
  #gradient > .radial(@errorText, darken(@errorText, 5%));
  text-shadow:2px -2px 1px darken(@errorText, 30%);
  .box-shadow(1px -1px 2px 1px darken(@errorText, 30%));
}

#container {

  &.well {
    padding:0px;
    //overflow:hidden;
    //.gradientBar(@itemGradienStartBlue, @itemGradientEndBlue);
    //#gradient > .radial(@itemGradienStartBlue, @itemGradientEndBlue);
    
    .crosspromo-tabs {
      background:@tabsBackground;
      .gradientBar(#23667B, #114353);
      padding:10px 10px 0 10px;
      border-bottom:3px solid @tabsActive;
      .box-shadow(0 6px 10px -6px @tabsBorderBottom);
      li {
        margin-right:10px;
        &.no-tab > a {
          background:transparent;
          border:0;
          padding:0;
        }
        
        a {
          background:@tabsPassive;
          font-size:3em;
          letter-spacing:-2px;
          font-weight:bold;
          padding:15px 35px 15px 20px;
          color:#000;
          border-top:1px solid #fff;
          border-bottom:1px solid @tabsActive;
          
          span {
            position:relative;
            //top:-10px;
            //left:10px;
            top:5px;
          }
          img {
            max-width:100%;
          }
        }
        &.active {
          a {
            background:@tabsActive;
          }
        }
      }
    }
    
    .items {

      .item {
        margin:10px;
        padding:3px 0px 3px 0px;
        .border-radius(10px);
        color:@itemColor;
        .gradientBar(@itemGradienStartBlue, @itemGradientEndBlue);
        border-bottom:2px solid @itemBorderBottom;
        border-top:2px solid @itemBordertTop;
        border:2px solid @itemGradienStartBlue;
        border-top:1px solid #eee;
        //.box-shadow(0 6px 10px -6px @itemBoxShadow);
        .box-shadow(0px 0px 10px 1px @itemBoxShadow);
        > div {
        }
        table {
          width:100%;
          .badge {
            font-size:1.6em;
            
          }
        }
        
      }
      .promo-item-image {
        width:15%;
        text-align:center;
      }
      .promo-item-content {
        width:70%;
        vertical-align:top;
        padding-top:20px;
        padding-left:10px;
        h3 {
          margin-bottom:10px;
        }
      }
      .promo-item-download {
        width:15%;
        vertical-align:top;
        height:130px;
        //text-align:right;
        .download-new {
          display:inline-block;
          text-align:center;
          text-shadow:2px 1px 2px rgba(0,0,0,.2);
          &:hover {
            color:#eee;
            text-decoration:none;
          }
          img {
            //width:94px;
            &.update-icon {
              position:relative;
              right:-5px;
            }
            &.new-icon {
              position:relative;
              top:-10px;
              right:-5px;
            }
          }
          h3 {
            font-size:1.8em;
            color:#A2599F; //lila
            color:#4E453C; //barna
            color:#70b1c4;
            text-transform:uppercase;
            font-weight:bold;
          }
        }
      }
    }
  }
}

.close-icon {
  display:inline-block;
  width:36px;
  height:36px;
  background:url(../../img/icon-close.png) no-repeat transparent;
}

.hot-icon {
  display:inline-block;
  width:24px;
  height:37px;
  background:url(../../img/icon-hot.png) no-repeat transparent;
}

.offer-icon {
  display:inline-block;
  width:36px;
  height:37px;
  background:url(../../img/icon-offer.png) no-repeat transparent;
}
/*
.new-icon {
  display:inline-block;
  width:128px;
  height:122px;
  background:url(../../img/label-new.png) no-repeat transparent;
  position:relative;
  right:-2px;
  top:-22px;
}
*/

#loading-global {
    background: @globalLoading;
    display: none;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: 0;
    left:45%;
    z-index: 9999;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}