@media (max-width: 320px) {
  #container {
    &.well {  
      .items {
        .item {
          .promo-item-download {
            .download-new {
              img {
                //width:94px;
                &.update-icon {
                  right:-2px!important;
                }
                &.new-icon {
                  right:-2px!important;
                }
              }
            }
          }          
        }
      }
    }
  }
  
}
@media (max-width: 480px) {
  body {
    padding:0;
  }
  #container {
    &.well {  
      .crosspromo-tabs {
          padding:0;
          padding-top:3px;
          padding-left:5px;
          border-bottom:1px solid @tabsActive;
          li {
            margin-right:0px;
            //display:block;
            //width:100%;
            text-align:center;
            &.pull-right {
              //float:none;
              text-align:right;
            }
            a {
              
              font-size:1em;
              font-weight:bold;
              padding:5px 10px 5px 8px;
              span {
                position:relative;
                top:0px;
                display:none;
              }
              img {
                max-width:75%;
              }
            }
          }
      }
      .items {
        .item {
          border-bottom-width:1px;
          border-top-width:1px;
          .promo-item-image {
            h3 {
              font-size:0.9em;
            }
          
          }
          .promo-item-image {
            width:20%;
            text-align:center;
          }          
          .promo-item-content {
            width:55%;
            h2 {
              font-size:1.1em;
              margin-bottom:0;
              line-height:24px;
            }
            h3 {
              font-size:1em;
              margin-bottom:0;
              line-height:18px;
            }
            padding-top:0!important;
          }
          table {
            .badge {
              font-size:1em;
            }
          }
          .promo-item-download {
            .download-new {
              img {
                //width:94px;
                &.update-icon {
                  position:relative;
                  right:-3px;
                }
                &.new-icon {
                  position:relative;
                  top:-7px;
                  right:-3px;
                }
              }
              h3 {
                font-size:1.1em;
                line-height:18px;
                width:100%;
              }
            }
          }          
        }
      }
      
    }
  }
}

@media (max-width: 767px) { 
  
  
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    position: fixed;
  }
  
}